.wrapper_banner {

    height: fit-content;
    width: 100vw;
    background-color: #f4f5f9;



    .inner_banner {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 150%;
        padding: 10vw 0 12vw 5vw;
    }



    //text banner
    .text_banner {
        .text_title {
            font-weight: 450;
        }

        .text_child {
            color: #3221197a;
            font-weight: 300;
        }
    }

    //end

    //button banner 
    .link {
        text-decoration: none;

        .button_banner {
            border-radius: 0;
            width: fit-content;
            margin: 12px 0;
            font-size: 18px;
            margin-top: 32px;
            padding: 8px 28px;
            background-color: #383838;
            color: rgba(255, 255, 255, 0.759);
        }

    }
}